<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Suite">
	<test name="Validating Basic Page">
		<classes>
			<class name="POMTutorial.BasePageTest" />
		</classes>
	</test> <!-- Test -->
	<test name="Validating Login Page">
		<classes>
			<class name="POMTutorial.LoginPageTest" />
		</classes>
	</test> <!-- Test -->
</suite> <!-- Suite -->
